.cardContainer{
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0.5rem;
    bottom: 0,5rem;

}

.card-header{
    background-color: #1b3039;
    color: white;
    font-weight: 700;
}

img{
    width: 20px ;
}

.card-body{
    padding: 0.5rem;
    background-image: url('https://img.freepik.com/premium-vector/chat-seamless-pattern-with-speech-bubbles-vector-background_104589-2053.jpg');
    padding-bottom: 300px;
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    background-color: #1b3039;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding: 2;
}
.recibido{
    display: block;
    float: left;
    background-color: #1b85b3;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}
