<div class="card text-center cardContainer">
  <div class="card-header">
    Chat
  </div>
  <div class="card-body">
    
  </div>

  <div class="card-footer text-muted input-group"> 
  <input type="text" class="form-control" placeholder="Ingrese su mensaje" >
  <div class="input-group-append">
  <span class="input-group-text" id="basic-addon2">
    <img src="https://w7.pngwing.com/pngs/10/412/png-transparent-computer-icons-send-miscellaneous-angle-rectangle-thumbnail.png" alt=" enviar">
  </span>
</div>
</div>
</div>
