<div class="container">
    <div class="form-container">
      <h2 class="titulo">Historia</h2>
      <p>El Huargo es un colegio de educación primaria con vocación Montessori ubicado en la encantadora ciudad de Monteverde. Fundado en el siglo XIX, ha sido un bastión de la educación progresiva durante más de un siglo.</p>
      <p>Nuestra historia se remonta a visionarios educadores que creían en un enfoque individualizado y holístico para el desarrollo de los niños. Desde sus inicios, El Huargo ha abrazado los principios de la metodología Montessori, fomentando la autonomía, la creatividad y el amor por el aprendizaje en nuestros estudiantes.</p>
      <p>A lo largo de los años, nuestro colegio ha crecido y se ha ganado un lugar destacado en la comunidad educativa local. Nuestro compromiso con la excelencia académica, el desarrollo emocional y la formación integral de nuestros alumnos ha sido reconocido y valorado por padres, estudiantes y educadores.</p>
      <p>En El Huargo, nos enorgullece seguir el legado de nuestros fundadores y proporcionar una educación de calidad que prepara a nuestros estudiantes para enfrentar los desafíos del siglo XXI mientras cultivan su amor por el conocimiento y su pasión por la exploración.</p>
    </div>
  
  
    <div class="image-container">
      <img class="imageAsignatura" src="../../../assets/mision.jpg" alt="Imagen Misión">
    </div>
  
    <div class="form-container">
        <h2 class="titulo">Visión</h2>
        <p>Aquello hacia lo que queremos avanzar a medio y largo plazo, es nuestra aspiración, nuestro deseo.</p>
        <p>En El Huargo, nuestra visión es:</p>
        <ul>
          <li>Crear un ambiente preparado que promueva la exploración, el descubrimiento y el aprendizaje autodirigido.</li>
          <li>Fomentar la autonomía y la responsabilidad en los estudiantes, permitiéndoles desarrollar su propio ritmo de aprendizaje y tomar decisiones informadas.</li>
          <li>Valorar y respetar la individualidad de cada estudiante, reconociendo que cada uno tiene diferentes fortalezas, intereses y estilos de aprendizaje.</li>
          <li>Promover la colaboración y el respeto mutuo entre los estudiantes, creando un ambiente de apoyo y comunidad.</li>
          <li>Integrar materiales y actividades Montessori en nuestro currículo, proporcionando oportunidades para el trabajo práctico, la concentración profunda y el desarrollo de habilidades prácticas.</li>
          <li>Guiar a los estudiantes en el desarrollo de habilidades para la vida, incluyendo el pensamiento crítico, la resolución de problemas y la toma de decisiones éticas.</li>
          <li>Crear un entorno rico en estímulos sensoriales y estéticos, inspirando la curiosidad y la apreciación por el mundo que nos rodea.</li>
          <li>Colaborar estrechamente con las familias, involucrándolas en el proceso educativo y promoviendo una comunicación abierta y colaborativa.</li>
          <li>Mantenernos actualizados en las mejores prácticas de la pedagogía Montessori, participando en desarrollo profesional continuo y promoviendo la investigación y la innovación en nuestra práctica educativa.</li>
        </ul>
      </div>
      
    <div class="image-container">
      <img class="imageAsignatura" src="../../../assets/vision.jpg" alt="Imagen Visión">
    </div>
  
    <div class="form-container">
        <h2 class="titulo">Valores</h2>
        <p>Nos indican las pautas principales de comportamiento de las personas.</p>
        <ul>
          <li>Trabajo en misión compartida, desde la corresponsabilidad en las tareas y la coherencia en la acción educativa y la misión del centro.</li>
          <li>Formación continua de todos los agentes educativos.</li>
          <li>Respeto por la individualidad de cada estudiante, reconociendo su unicidad y valorando sus fortalezas y talentos.</li>
          <li>Compromiso con la justicia social y la equidad, promoviendo la inclusión y la igualdad de oportunidades para todos los estudiantes.</li>
          <li>Fomento de la responsabilidad y la autonomía, animando a los estudiantes a tomar decisiones informadas y asumir la responsabilidad de sus acciones.</li>
          <li>Énfasis en el desarrollo integral, considerando no solo el crecimiento académico, sino también el desarrollo socioemocional y físico de los estudiantes.</li>
          <li>Cultivo de la empatía y la compasión, promoviendo la empatía hacia los demás y el cuidado del bienestar de todos los miembros de la comunidad escolar.</li>
          <li>Valoración del aprendizaje como un proceso continuo, fomentando la curiosidad, la investigación y el amor por el conocimiento a lo largo de la vida.</li>
          <li>Promoción de la colaboración y el trabajo en equipo, cultivando habilidades de comunicación efectiva y la capacidad de trabajar de manera colaborativa.</li>
          <li>Respeto por el entorno natural, fomentando la conciencia ambiental y la responsabilidad hacia la sostenibilidad.</li>
        </ul>
      </div>
      
  
    <div class="image-container">
      <img class="imageAsignatura" src="../../../assets/valores.jpg" alt="Imagen Valores">
    </div>
    <h3>¿QUÉ ES LA METODOLOGÍA MONTESORI?</h3>
    <div>
        <iframe width="560" height="315" src="../../../assets/Montessori.mp4" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
  