<div class="papa">
    <div class="slider">
      <div class="slide">
        <img src="../../../../assets/home.jpg.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen1.jpg" alt="marvel" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen2.jpg" alt="marvel" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen3.jpg" alt="dc" />
      </div>
    </div>
</div>
  <section>
    <h2>"Formando mentes brillantes, corazones valientes: nuestro colegio, un camino hacia el éxito."</h2>
  </section>

