<div class="papa">
    <div class="slider">
      <div class="slide">
        <img src="../../../../assets/home.jpg.jpg" alt="Imagen de centro" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen1.jpg" alt="Imagen biblioteca " />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen2.jpg" alt="Imagen profesora buscando libro" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen3.jpg" alt="Imagen alumna" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen4.jpg" alt="Imagen de Aula" />
      </div>
      <div class="slide">
        <img src="../../../../assets/imagen5.jpg" alt="Imagen de padres" />
      </div>
    </div>
</div>
  <section>
    <h2>"Formando mentes brillantes, corazones valientes: nuestro colegio, un camino hacia el éxito."</h2>
  </section>

