<form [formGroup]="loginForm" class="login" (ngSubmit)="onSubmit()">
    <div>
        <label for="exampleFormControlInput1" class="form-label">Nueva contaseña</label>
        <input formControlName="password" type="text" class="form-control" id="exampleFormControlInput1">
        <p *ngIf="(submitted && loginForm?.get('password')?.hasError('required'))">Este campo es requerido</p>
        <p *ngIf="(submitted && loginForm?.get('password')?.hasError('pattern'))">No cumple el formato de password(1 mayuscula, 1 minuscula, 1 numero y 1 caracter especial)</p>
    </div>
    <div>
        <label for="Input1" class="form-label"> Repite contraseña </label>
        <input formControlName="repeatpassword" type="text" id="Input1">
        <p *ngIf="(submitted && loginForm?.get('repeatpassword')?.hasError('required'))">Este campo es requerido</p>
        <p *ngIf="(submitted && loginForm?.get('repeatpassword')?.hasError('pattern'))">No cumple el formato de password(1 mayuscula, 1 minuscula, 1 numero y 1 caracter especial)</p>
        <p *ngIf="(submitted && !matchpasswd)">Las passwords introducidas no coinciden</p>
       
    </div>
    
    <div>
        <button class="btn btn-primary" type="submit"> Cambiar constraseña </button>
    </div>
