@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login div {
  margin-bottom: 15px;
}

.login label {
  font-weight: bold;
  font-size: 18px;
}

.login input[type="text"],
.login select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.login p {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.login button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: #1b3039;
  background-color: #eceff1;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login button:hover,
.login button:focus {
  transform: scale(1.1);
  color: #ffbc0e;
}

.login div.error p {
  margin-top: 10px;
}

.login div.link p {
  margin-top: 10px;
  font-size: 14px;
}

.login div.link a {
  color: #007bff;
  text-decoration: none;
}

.login div.link a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login {
    max-width: 300px;
    margin: 30px auto;
    padding: 15px;
  }

  .login label {
    font-size: 16px;
  }

  .login input[type="text"],
  .login select {
    font-size: 14px;
  }

  .login button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .login div.link p {
    font-size: 12px;
  }
}
