<div class="container">
  <h1 class="heading">ACTIVIDADES CULTURALES</h1>
  <div class="carousel">
    <div
      *ngFor="let articulo of articulos; let i = index"
      class="card"
      [class.full-width]="i === selectedCardIndex"
      (click)="mostrarContenido(i)"
    >
      <div class="card-image">
        <img [src]="articulo.imagen" alt="Imagen del artículo" />
      </div>
      <div class="card-content">
        <h2>{{ articulo.titulo }}</h2>
        <p class="autor">Autor: {{ articulo.autor }}</p>
        <p class="contenido" *ngIf="articulo.mostrarContenido">
          {{ articulo.contenido }}
        </p>
        <p class="pincha" *ngIf="!articulo.mostrarContenido">
          Pincha aquí para mostrar contenido
        </p>
      </div>
    </div>
  </div>
</div>
