<form [formGroup]="loginForm" class="login" (ngSubmit)="onSubmit()">
  <div>
    <label for="Input1"> Correo electrónico </label>
    <input formControlName="email" type="text" id="Input1" />
    <p *ngIf="submitted && loginForm?.get('email')?.hasError('required')">
      Este campo es obligatorio.
    </p>
    <p *ngIf="submitted && loginForm?.get('email')?.hasError('pattern')">
      No cumple el formato de email.
    </p>
  </div>
  <div>
    <label for="Input1" class="form-label"> Contraseña </label>
    <span class="span__pass">

      

      <input formControlName="password" type="password" id="Input1" [type]="hide ? 'password' : 'text'"/>
      <img src="../../../assets/eye_ico.png" class="eyeico"  alt="visualizar contraseña" (click)="myFunction()">

    </span>
    <p *ngIf="submitted && loginForm?.get('password')?.hasError('required')">
      Este campo es obligatorio y debe contener al menos 1 mayuscula, 1
      minuscula, 1 numero y 1 caracter especial.
    </p>
  </div>
  <div>
    <label for="Select1" class="form-label"> Rol </label>
    <select formControlName="role" id="Select1">
      <option value="">Selecciona tu rol</option>
      <option value="admin" id="admin">Administrador</option>
      <option value="alumno" id="alumno">Alumno</option>
      <option value="tutor" id="tutor">Tutor</option>
      <option value="profesor" id="profesor">Profesor</option>
    </select>
    <p *ngIf="submitted && loginForm?.get('role')?.hasError('required')">
      Este campo es obligatorio.
    </p>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Iniciar sesión</button>
  </div>
  <div *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div *ngIf="submitted && !isLogged">
    <p><a routerLink="/password">Cambiar contraseña</a></p>
  </div>
  <div *ngIf="reset">
    <p><a routerLink="/aviso">¿Olvidaste la contraseña?</a></p>
  </div>
</form>
