<div class="contenedorGeneral">
    <section class="textHeader">
      <h2>Club de Ciencias</h2>
      <p>El Colegio El Huargo cuenta con un apasionante Club de Ciencias, donde los estudiantes tienen la oportunidad de explorar y experimentar en diferentes áreas científicas. Fomentamos la curiosidad, el pensamiento crítico y el trabajo en equipo, brindando a nuestros estudiantes un espacio para desarrollar habilidades científicas y participar en proyectos de investigación.</p>
    </section>

    <section class="card">
      <div class="image">
        <img src="../../../../assets/biodiversidad.jpg" alt="Club de Ciencias">
      </div>
      <div class="content">
        <h3>Proyecto: Investigación de biodiversidad</h3>
        <p>Nuestro Club de Ciencias se dedica a investigar y estudiar la biodiversidad de nuestro entorno. Los estudiantes aprenden sobre la flora y fauna local, realizan salidas de campo, recolectan muestras y analizan datos para contribuir al conocimiento científico y la conservación del medio ambiente.</p>
      </div>
    </section>

    <section class="card">
      <div class="image">
        <img src="../../../../assets/nina-probeta-mirar-ninos-profesor.jpg" alt="Club de Ciencias">
      </div>
      <div class="content">
        <h3>Proyecto: Experimentos científicos</h3>
        <p>En el Club de Ciencias, los estudiantes tienen la oportunidad de realizar emocionantes experimentos científicos. A través de la observación, hipótesis y análisis de resultados, los estudiantes desarrollan habilidades en el método científico y descubren los principios fundamentales de la física, química y biología.</p>
      </div>
    </section>

    <section class="textHeader">
      <h2>Club de Debate</h2>
      <p>El Club de Debate del Colegio El Huargo ofrece a los estudiantes un espacio para mejorar sus habilidades de comunicación, argumentación y pensamiento crítico. Fomentamos el respeto mutuo, el análisis de diferentes perspectivas y la capacidad de expresar ideas de manera clara y persuasiva. Nuestros estudiantes participan en competencias de debate y desarrollan habilidades que les serán útiles en su vida académica y profesional.</p>
    </section>

    <section class="card">
      <div class="content">
        <h3>Taller: Técnicas de debate</h3>
        <p>En nuestro Club de Debate, los estudiantes aprenden diversas técnicas de debate, incluyendo argumentación, contraargumentación y refutación. Mediante la práctica y la participación en debates simulados, los estudiantes mejoran su capacidad para expresar y defender sus ideas de manera efectiva y persuasiva.</p>
      </div>      
      <div class="image">
        <img src="../../../../assets/tecnicasDebate.jpg" alt="Club de Debate">
      </div>
    </section>

    <section class="card">
      <div class="content">
        <h3>Torneo: Debate intercolegial</h3>
        <p>Nuestro Club de Debate participa en torneos intercolegiales, donde nuestros estudiantes compiten con otros colegios en emocionantes debates. Los estudiantes tienen la oportunidad de enfrentarse a diferentes posturas, investigar, argumentar y mejorar sus habilidades de debate mientras representan a El Huargo en competencias académicas.</p>
      </div>      
      <div class="image">
        <img src="../../../../assets/debateIntercolegial.jpg" alt="Club de Debate">
      </div>
    </section>

    <section class="textHeader">
      <h2>Participaciones en Ferias de Ciencias</h2>
    </section>

    <section class="card">
      <div class="image">
        <img src="../../../../assets/feria2021.jpg" alt="Feria de Ciencias">
      </div>
      <div class="content">
        <h3>Feria de Ciencias 2021</h3>
        <p>En la Feria de Ciencias 2021, nuestros estudiantes presentaron un proyecto innovador sobre energías renovables y su impacto ambiental. Su investigación y experimentos destacaron y obtuvieron reconocimientos por su enfoque creativo y su contribución al campo de la energía sostenible.</p>
      </div>
    </section>

    <section class="card">
      <div class="image">
        <img src="../../../../assets/feria2022.jpg" alt="Feria de Ciencias">
      </div>
      <div class="content">
        <h3>Feria de Ciencias 2022</h3>
        <p>En la Feria de Ciencias 2022, nuestros estudiantes presentaron un proyecto de biotecnología que exploraba el uso de microorganismos para la descontaminación del agua. Su investigación y resultados fueron destacados por su relevancia en la búsqueda de soluciones ambientales sostenibles.</p>
      </div>
    </section>

    <section class="card">
      <div class="image">
        <img src="../../../../assets/feria2023.jpg" alt="Feria de Ciencias">
      </div>
      <div class="content">
        <h3>Feria de Ciencias 2023</h3>
        <p>En la Feria de Ciencias 2023, nuestros estudiantes presentaron un proyecto sobre inteligencia artificial y su aplicación en la medicina. Su trabajo destacó por su innovación y su potencial impacto en el diagnóstico médico y el desarrollo de tratamientos personalizados.</p>
      </div>
    </section>
  </div>