<div class="CardDiv">
    <div class="card">
      <img src="ruta-imagen-usuario.jpg" alt="Imagen de usuario" class="user-image">
      <p class="cometario">¡El colegio es increíble! Me encanta aprender aquí. Los profesores son muy amables y siempre están dispuestos a ayudar. Además, las instalaciones son modernas y cuentan con todo lo necesario para tener una experiencia educativa enriquecedora. ¡Definitivamente recomiendo este colegio a todos!</p>
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9734;</span>
        <span class="star">&#9734;</span>
      </div>
    </div>
    <div class="card">
      <img src="ruta-imagen-padre1.jpg" alt="Imagen de padre" class="user-image">
      <p class="cometario">Estamos muy contentos de haber elegido este colegio para nuestro hijo. La calidad de la educación es excepcional y el personal docente es altamente capacitado. Además, se promueve un ambiente de respeto y valores fundamentales. Nuestro hijo se siente motivado y ha mostrado un gran progreso académico y personal desde que se unió a esta institución.</p>
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9734;</span>
      </div>
    </div>
    
    <div class="card">
      <img src="ruta-imagen-padre2.jpg" alt="Imagen de padre" class="user-image">
      <p class="cometario">Recomendaríamos este colegio sin dudarlo. Nuestra hija ha tenido una experiencia educativa maravillosa aquí. Los profesores son amables y accesibles, y el plan de estudios es completo y estimulante. El colegio también organiza actividades extracurriculares enriquecedoras que han ayudado a desarrollar las habilidades sociales y creativas de nuestra hija.</p>
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </div>
    </div>
    <div class="card">
      <img src="ruta-imagen-usuario.jpg" alt="Imagen de usuario" class="user-image">
      <p class="cometario">Este colegio es simplemente asombroso. Me siento inspirado y motivado cada día. Los profesores son increíbles, siempre están dispuestos a apoyarnos y desafiar nuestros límites intelectuales. Las instalaciones son modernas y ofrecen un entorno propicio para el aprendizaje. Estoy orgulloso de ser parte de esta comunidad educativa excepcional.</p>
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9734;</span>
      </div>
    </div>
  </div>