<head>
  <title>Galería de imágenes responsive</title>
</head>
<body>
  <div class="gallery">
    <img src="../../../assets/galeria/imagen1.jpg" alt="Imagen 1" />
    <img src="../../../assets/galeria/imagen2.jpg" alt="Imagen 2" />
    <img src="../../../assets/galeria/imagen3.jpg" alt="Imagen 3" />
    <img src="../../../assets/galeria/imagen4.jpg" alt="Imagen 4" />
    <img src="../../../assets/galeria/imagen5.jpg" alt="Imagen 5" />
    <img src="../../../assets/galeria/imagen6.jpg" alt="Imagen 6" />
    <img src="../../../assets/galeria/imagen7.jpg" alt="Imagen 7" />
    <img src="../../../assets/galeria/imagen8.jpg" alt="Imagen 8" />
    <img src="../../../assets/galeria/imagen9.jpg" alt="Imagen 9" />
    <img src="../../../assets/galeria/imagen10.jpg" alt="Imagen 10" />
    <!--<img src="../../../assets/galeria/imagen11.jpg" alt="Imagen 11" />
    <img src="../../../assets/galeria/imagen12.jpg" alt="Imagen 12" />
    <img src="../../../assets/galeria/imagen13.jpg" alt="Imagen 13" />
    <img src="../../../assets/galeria/imagen14.jpg" alt="Imagen 14" /> -->
  </div>
</body>
