<div>
  <h2>GALERÍA DE IMÁGENES DEL CENTRO</h2>
</div>
<div class="gallery">
  <div class="image">
    <img src="../../../assets/galeria/imagen1.jpg" alt="Imagen 1">
    <div class="image-details">
      <h3>Pasillo del centro ala este.</h3>
      <p>Fecha: 01/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen2.jpg" alt="Imagen 2">
    <div class="image-details">
      <h3>Hall ala norte con actividad.</h3>
      <p>Fecha: 05/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen3.jpg" alt="Imagen 3">
    <div class="image-details">
      <h3>Comenzando el día...</h3>
      <p>Fecha: 10/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen4.jpg" alt="Imagen 4">
    <div class="image-details">
      <h3>Nuestras Huargos de fútbol</h3>
      <p>Fecha: 15/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen5.jpg" alt="Imagen 5">
    <div class="image-details">
      <h3>Parque norte junto a dirección</h3>
      <p>Fecha: 20/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen6.jpg" alt="Imagen 6">
    <div class="image-details">
      <h3>En clase.</h3>
      <p>Fecha: 25/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen7.jpg" alt="Imagen 7">
    <div class="image-details">
      <h3>Biblioteca del centro.</h3>
      <p>Fecha: 30/08/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen8.jpg" alt="Imagen 8">
    <div class="image-details">
      <h3>Alumnos de 1º de Primaria.</h3>
      <p>Fecha: 05/09/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen9.jpg" alt="Imagen 9">
    <div class="image-details">
      <h3>Aprendiendo jugando!</h3>
      <p>Fecha: 10/09/2023</p>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/galeria/imagen10.jpg" alt="Imagen 10">
    <div class="image-details">
      <h3>Reunión de antiguos alumnos.</h3>
      <p>Fecha: 15/09/2023</p>
    </div>
  </div>
</div>