.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.titulo {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-top: 20px;
}

.boton-nuevo,
.boton-confirmar,
.pagination-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: #1b3039;
  background-color: #eceff1;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.boton-nuevo {
  margin-bottom: 15px;
}

.filtro {
  margin-bottom: 20px;
}

.filtro label {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-right: 10px;
}

.filtro input[type="text"] {
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  width: auto;
  max-width: 10em;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
}

.alumnos-table,
.profesor-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333333;
  border-radius: 8px 8px 0 0;
}

.alumnos-table th,
.alumnos-table td,
.profesor-table th,
.profesor-table td {
  border: 1px solid black;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}

.accion {
  cursor: pointer;
  color: red;
}

.edicion-form {
  margin-top: 20px;
}

.edicion-form h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
}

.boton-confirmar {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: #1b3039;
  background-color: #eceff1;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-button {
  display: inline-block;
  padding: 6px 12px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 20px;
  margin-right: 5px;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.imageDivisor {
  height: auto;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 100px;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .filtro input[type="text"] {
    max-width: none;
  }

  .form-group input {
    max-width: none;
  }
}
