@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

.backContact{
    background-image: url(https://afsenovilla.github.io/Disco-Upgrade/img/background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
 
}
.divNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
    font-size: 18px;
}

.navLanguage {
        border: 1.5px solid;
        border-color: black;
        background-color: rgb(180, 180, 180);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40vw;
        margin:20px 30px 20px 30px;
        border-radius: 15px;
}
.ulLanguage{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80vw;
        justify-content: center;
        margin: 20px 0px;
        padding: 0px;
    }
.liLanguage{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4vw;
        width: 6vw;
        list-style: none;
        margin: 0px 30px;
        justify-content: center;
}

.flags{
    border: 1px solid transparent;
    border-radius: 15px;
    pointer-events: auto;
    max-width:  moz-fit-content;
    max-height: moz-fit-content;
    
}

.flags:hover{
    border: 2px solid transparent;
    border-radius: 15px;
    scale: 1.25;
}


.contact-element-ES{
    font-family: 'Marvel', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: bold;
    color: white;
}

.contact-element-EN{
    font-family: 'Marvel', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: bold;
    color: white;
}
.contact-element-DE{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: bold;
    color: white;
}
.contactForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    line-height: 30px;
    border: solid black 1.5px;
    border-radius: 15px;
    padding: 40px;
    width: 40vw;
    background-color:  rgb(180, 180, 180);
    font-weight: bold;
    color: black;
}
 
 
    .buttonClass{
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin:  auto;
        padding: 0.9rem 2.5rem;
        text-align: center;
        background-color: #47AB11;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }
    
    input{

        font-family: inherit;
        width: 100%;
        outline: none;
        background-color: #fff;
        border-radius: 4px;
        border: none;
        display: block;
        padding: 0.9rem 0.7rem;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
        color: #4A4A4A;
        text-indent: 40px;

    }

    textarea{
        font-family: inherit;
        width: 100%;
        outline: none;
        background-color: #fff;
        border-radius: 4px;
        border: none;
        display: block;
        padding: 0.9rem 0.7rem;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
        color: #4A4A4A;
        text-indent: 40px;
    }