<app-chat></app-chat>


<div class="backContact"> </div>
   
    <div class="contact-element-ES">  
        <h2>Contacto</h2>
        <p>Para consultas de procesos de admision, contactarnos a traves de los suigientes medios</p>
      
        <div class="contact-info">
          <p><strong>Teléfono:</strong> + 34 645 872 515 / + 34 645 872 516 </p>
          <p><strong>Correo electrónico:</strong> info.colegio@colegio.com</p>
          <p><strong>Horario de atención:</strong> Lunes a viernes, de 9:00 a.m. a 5:00 p.m.</p>
          
        </div>
      
        <h3>Envíenos un mensaje</h3>
      
        <form id="contactForm" class=contactForm action="mailto:support_shop_es@gmail.com" method="post" enctype="text/plain">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
      
          <label for="correo">Correo electrónico:</label>
          <input type="email" id="correo" name="correo" required>
      
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" required></textarea>
      
          <button type="submit" class="buttonClass">Enviar</button>
        </form>
    
