<section>
    <h2>Artes Visuales</h2>
    <p>En el Colegio El Huargo, valoramos y fomentamos la expresión artística a través de las Artes Visuales. Nuestro enfoque se centra en el desarrollo de habilidades creativas y la exploración de diversas técnicas y medios artísticos. Los estudiantes tienen la oportunidad de participar en proyectos artísticos, exposiciones y eventos culturales, estimulando su imaginación y promoviendo su aprecio por el arte.</p>
  </section>

  <section class="card">
    <div class="image">
      <img src="../../../../assets/artesvisuales.jpg" alt="Artes Visuales">
    </div>
    <div class="content">
      <h3>Actividad: Pintura al óleo</h3>
      <p>En nuestro programa de Artes Visuales, ofrecemos clases de pintura al óleo. Los estudiantes aprenden las técnicas básicas de esta disciplina y exploran su creatividad a través de la pintura de paisajes, retratos y obras de arte abstracto. Fomentamos el desarrollo de habilidades artísticas, la experimentación y la apreciación estética.</p>
    </div>
  </section>

  <section class="card">
    <div class="image">
      <img src="../../../../assets/arcilla.jpg" alt="Artes Visuales">
    </div>
    <div class="content">
      <h3>Actividad: Escultura en arcilla</h3>
      <p>En nuestra clase de Escultura en arcilla, los estudiantes exploran el modelado tridimensional y dan forma a sus ideas y conceptos a través del trabajo con arcilla. Fomentamos la creatividad y el desarrollo de habilidades espaciales, permitiendo a los estudiantes crear esculturas únicas y expresivas.</p>
    </div>
  </section>

  <section>
    <h2>Música</h2>
    <p>La música desempeña un papel fundamental en el Colegio El Huargo, ya que reconocemos su importancia en el desarrollo integral de nuestros estudiantes. Nuestro programa de música ofrece una amplia variedad de actividades que incluyen clases de instrumentos, coro y participación en grupos musicales. Los estudiantes tienen la oportunidad de explorar su pasión por la música, desarrollar habilidades musicales y participar en eventos y conciertos escolares.</p>
  </section>

  <section class="card">
    <div class="image">
      <img src="ruta-de-la-imagen-3.jpg" alt="Música">
    </div>
    <div class="content">
      <h3>Actividad: Clases de piano</h3>
      <p>En nuestras clases de piano, los estudiantes aprenden a tocar este hermoso instrumento. Nuestros talentosos profesores guían a los estudiantes a través de lecciones prácticas y teóricas, ayudándoles a desarrollar habilidades musicales, técnicas de interpretación y apreciación por la música clásica y contemporánea.</p>
    </div>
  </section>

  <section class="card">
    <div class="image">
      <img src="ruta-de-la-imagen-4.jpg" alt="Música">
    </div>
    <div class="content">
      <h3>Actividad: Coro escolar</h3>
      <p>Nuestro coro escolar brinda a los estudiantes la oportunidad de participar en una experiencia musical en grupo. A través de ensayos, presentaciones y conciertos, los estudiantes desarrollan habilidades vocales, aprenden a armonizar y disfrutan del trabajo en equipo. Fomentamos la pasión por la música y el espíritu de colaboración en el coro escolar del Colegio El Huargo.</p>
    </div>
  </section>
