<header>
  <h1>El Huargo - Noticias</h1>
</header>
<main>
  <article class="article">
    <h2>Excursión al zoológico</h2>
    <p>
      El pasado viernes, los estudiantes de cuarto grado disfrutaron de una
      emocionante excursión al zoológico. Pudieron ver a los animales en su
      hábitat natural y aprendieron sobre su conservación. ¡Fue un día lleno de
      diversión y aprendizaje!
    </p>
  </article>

  <article class="article">
    <h2>Festival de talentos</h2>
    <p>
      ¡No te pierdas el festival de talentos que se llevará a cabo el próximo
      miércoles en el gimnasio del colegio! Nuestros talentosos estudiantes
      mostrarán sus habilidades en baile, canto, música y mucho más. ¡Ven y
      apoya a tus compañeros!
    </p>
  </article>

  <article class="article">
    <h2>Campeonato de fútbol</h2>
    <p>
      El equipo de fútbol de sexto grado se enfrentará al equipo de la Escuela
      Primaria del Sol en un emocionante partido el sábado por la mañana. ¡Vamos
      a animar a nuestros jugadores y desearles mucha suerte!
    </p>
  </article>
  <article class="article">
    <h2>Concurso de dibujo</h2>
    <p>
      ¡Participa en nuestro concurso de dibujo y muestra tu talento artístico!
      El tema de este año es "Mi animal favorito". Podrás ganar increíbles
      premios y tu dibujo se exhibirá en el pasillo principal del colegio. ¡No
      pierdas esta oportunidad!
    </p>
  </article>
  <article class="article">
    <h2>Charla sobre seguridad en internet</h2>
    <p>
      Mañana tendremos una charla especial sobre seguridad en internet para los
      estudiantes de quinto y sexto grado. Aprenderemos sobre cómo protegernos
      en línea, cómo reconocer información falsa y cómo ser ciudadanos digitales
      responsables. ¡No olvides traer tus preguntas!
    </p>
  </article>
  <article class="article">
    <h2>Recital de poesía</h2>
    <p>
      El próximo viernes, tendremos nuestro tradicional recital de poesía en el
      auditorio. Los estudiantes de tercer grado presentarán sus poemas
      favoritos y recitarán frente a sus compañeros. ¡Ven a disfrutar de una
      tarde llena de poesía y emociones!
    </p>
  </article>
</main>
