<div class="container">
    <div class="form-container">
      <h2 class="titulo"> Feria científica </h2> 
      <p> Te invitamos a nuestra gran Feria Cientifica en la Escuela donde los Alumnos presentaran sus proyectos de ciencias y experimentos.</p>
      <p> Estan todos los padres invitados!! </p>
      <p class="extra"> Donde: Patio de la Escuela:</p>
      <p class="extra"> Cuando: Sabado 21/07</p>
      <p class="extra"> Hora: 10:00 a.m </p>
      <button> Agregar al Calendario </button>
    </div>


      <div class="form-container">
      <h2 class="titulo"> Torneo deportivo familiar </h2>
      <p> Torneo deportivo para familias. Padres y alumnos podran participar juntos en diferentes deportes, como fútbol, baloncesto o voleibol. Esta actividad fomentará el trabajo en equipo y la actividad física.</p>
      <p> Inscribete con tu equipo en la oficina de Centro de Padres </p>
      <p class="extra"> Donde: Gimnasio de la Escuela</p>
      <p class="extra"> Cuando: Sabado 4/08</p>
      <p class="extra"> Hora: 10:00 a.m </p>
      <button> Agregar al Calendario </button>
      </div>


      <div class="form-container">
      <h2 class="titulo"> Jornada de voluntariado </h2>
      <p> Jornada de voluntariado en comunidad, donde padres, alumnos y personal escolar trabajaran juntos en proyectos de servicio comunitario, como limpieza de parques, donación de alimentos o visitas a hogares de ancianos.</p>
      <p>  Cupos abiertos </p>
      <p class="extra"> Donde: A definir</p>
      <p class="extra"> Cuando: A definir </p>
      <p class="extra"> Hora: A definir </p>
      <button> Agregar al Calendario </button>
      </div>


      <div class="form-container">
      <h2 class="titulo"> Noche de cine al aire libre </h2>
      <p> Noche de cine al aire libre en la escuela. Se proyecten películas familiares. Los padres y los alumnos pueden traer sillas, mantas y refrigerios para disfrutar de la película juntos.</p>
      <p> Pelicula: Toy Story  </p>
      <p class="extra"> Donde: Patio de la Escuela:</p>
      <p class="extra"> Cuando: Viernes 14/07</p>
      <p class="extra"> Hora: 19:00 p.m </p>
      <button> Agregar al Calendario </button>
      
    </div>
  