.nuevo-alumno-form {
    margin-top: 20px;
    text-align: center;
  }
  
  .nuevo-alumno-form h3 {
    font-family: 'Poppins', sans-serif;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group input {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
  }
  
  .form-group input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  
  .boton-agregar {
    font-family: 'Poppins', sans-serif;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  