<h2>Agregar Alumno</h2>

<div>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="alumno.nombre">
</div>

<div>
  <label for="apellidos">Apellidos:</label>
  <input type="text" id="apellidos" [(ngModel)]="alumno.apellidos">
</div>

<div>
  <label for="curso">Curso:</label>
  <input type="text" id="curso" [(ngModel)]="alumno.Curso">
</div>

<div>
  <label for="tutor1">Tutor 1:</label>
  <input type="text" id="tutor1" [(ngModel)]="alumno.tutor1">
</div>

<div>
  <label for="tutor2">Tutor 2:</label>
  <input type="text" id="tutor2" [(ngModel)]="alumno.tutor2">
</div>

<div>
  <label for="tutorCurso">Tutor de Curso:</label>
  <input type="text" id="tutorCurso" [(ngModel)]="alumno.tutorCurso">
</div>


<div>
  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="alumno.email">
</div>

<button (click)="agregarAlumno()">Agregar Alumno</button>
