<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3 class="footer-section-title">El Huargo</h3>
      <p class="footer-section-description">
        Nuestra institución educativa se enfoca en brindar una educación
        integral de calidad, cultivando valores fundamentales y promoviendo el
        desarrollo de futuros líderes para un mundo en constante cambio.
      </p>
    </div>
    <div class="footer-section">
      <h3 class="footer-section-title">Nuestras actividades</h3>
      <ul class="footer-section-list">
        <li><a href="/deportes">Deportes</a></li>
        <li><a href="/artesVisualesYmusica">Artes visuales y música</a></li>
        <li><a href="#">Clubes de ciencia y debate</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 class="footer-section-title">La institución</h3>
      <ul class="footer-section-list">
        <li><a href="/misionvisionvalores">Misión y visión</a></li>
        <li><a href="/misionvisionvalores">Historia</a></li>
        <li><a href="/misionvisionvalores">Valores</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 class="footer-section-title">Explora más del colegio</h3>
      <ul class="footer-section-list">
        <li><a href="/galeria">Galería</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="/noticias">Noticias</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© {{ currentYear }} El Huargo. All rights reserved.</p>
  </div>
</footer>
