<footer class="footer">
    <div class="footer-content">
      <h4>Explora más del colegio</h4>
      <ul class="footer-links">
        <li><a href="" target="_blank">Nuestras actividades</a></li>
        <li><a href="" target="_blank">El profesorado</a></li>
        <li><a href="" target="_blank">La institución</a></li>
        <li><a href="" target="_blank">Nuestras actividades</a></li>
      </ul>
    <div class="socialMedia">
      <h4>Encuentranos también en redes sociales</h4>
      <a href="https://es-la.facebook.com/" target="_blank"><img src="../../../../assets/icons8-facebook-24.png"  class=imgMedia alt="facebook"></a>
      <a href="https://twitter.com/?lang=es" target="_blank"><img src="../../../../assets/icons8-twitter-24.png" class=imgMedia alt="twitter"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="../../../../assets/icons8-instagram-24.png" class=imgMedia alt="instagram"></a>
      

            
    </div>
    <span class="footerSpan">
    <h6>Aviso legal</h6>
    <h6>Política cookies</h6>
    <h6>Política privacidad</h6>
    <h6>Copyright</h6>
  </span>
    
    </div>
  </footer>