<div class="containernav">
    <nav>
      <div>
      <a routerLink="/home">Home</a>
      <a routerLink="/alumno">Alumno</a>
      <a routerLink="/profesor">Profesor</a>
      <a routerLink="/gestionCentro">Gestion de centro</a>
      <a routerLink="/contact">Contacto</a> 
      </div>
      <img class="logo" src="../../../assets/logo.png" alt="logo colegio">
      <div>
      <a routerLink="/login">Login</a>
      <a routerLink="/register" class = "register">Registro</a> 
      </div>
    </nav>
    <div class="user-access">
      <!-- Aquí puedes agregar el contenido del acceso de usuario -->
    </div>
  </div>