/* .card {
    border: 1px solid black;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card .field {
    margin-bottom: 10px;
  }
  
  .card .field label {
    display: inline-block;
    
    font-weight: bold;
  }
  
  .card .field span {
    display: inline-block;
    
  }
  
  .card .editar-button {
    margin-top: 10px;
  }
  
  .lista {
    border: 1px solid black;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
  }
  
  .lista h2 {
    margin-bottom: 10px;
  }
  
  .alumnos-list {
    list-style-type: none;
    padding: 0;
  }
  
  .alumno-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .alumno-name {
    font-weight: bold;
  }
  
  .nota {
    font-weight: bold;
    color: green;
  } */

  .card {
    border: 1px solid black;
    max-width: 400px; /* Reducir el ancho máximo */
    padding: 20px;
    margin: 20px;
    border-radius: 10px; /* Agregar bordes redondeados */
    display: flex; /* Cambiar a un diseño flexible */
  }
  
  .card img {
    width: 30%; /* Reducir el ancho de la imagen */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y los campos de texto */
    border-radius: 10px; /* Agregar bordes redondeados a la imagen */
  }
  
  .card .field {
    margin-bottom: 10px;
  }
  
  .card .field label {
    display: inline-block;
    font-weight: bold;
  }
  
  .card .field span {
    display: inline-block;
  }
  
  .card .editar-button {
    margin-top: 10px;
  }
  
  