<h3>Asignaturas impartidas</h3>
<table>
  <tr>
    <ng-container *ngFor="let asignatura of nuevoArray">
      <th (click)="plantillaAsignatura(asignatura._id)" style="display: inline-block; margin-left: 10px;">{{asignatura.nombre}}</th>
    </ng-container>
  </tr>
</table>
<h3>Alumnos de la asignatura </h3>
<table *ngIf="plantillaAlumnos.length > 0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Curso</th>
      <th>Nota</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of plantillaAlumnos" >
      <td>{{alumno.nombre}}</td>
      <td>{{alumno.apellidos}}</td> 
      <td>{{alumno.Curso}}</td>
      <td> <button (click)="verificarnotas(alumno._id)">ver</button></td>
    </tr>
    <span *ngIf="notas.length > 0" ></span>
    <span *ngFor="let nota of notas">
      <span style="display: inline-block; margin-left: 10px;">{{nota.nota}} </span>
    </span> 
  </tbody>
</table>

